
<h5>Edit your event</h5>
<%= simple_form_for @event, url: {action: "update"} do |f| %>
<%= f.input :title, label: 'Event Name', required: true, input_html: {maxlength: 30}  %>
<%= f.input :description, as: :text, label: 'Description', required: true %>
<%= f.input :location, label: 'Location', required: true %>
<%= f.input :datetime, as: :datetime, required: true %>
<%= f.button :submit %>
<%= link_to 'Delete this event', @event, method: :delete %></h8>
<% end %>