<!-- some form to create a new event using the 'create' function
required: event name, description, location, time
optional notes
include validations -->

	<h3>Make your own event!</h3>
		<%if current_user%>
			<%= simple_form_for Event.new, url: { action: 'create' } do |f| %>
			<%= f.input :title, label: 'Event Name', required: true, input_html: {maxlength: 30}  %>
			<%= f.input :datetime, as: :datetime, required: true %><br><br>
			<%= f.input :location, label: 'Location', required: true %>
			<%= f.input :description, as: :text, label: 'Description', required: true %>
	
			<%= f.button :submit %>
			<% end %>
		<%else%>
			<script type="text/javascript">
    			window.location.href="/users/sign_in/"  //redirects to signin page if not signed in
  			</script>

		<% end %>




<!-- Modal -->
